.board{
	text-align: center;
}
.slot{
    width: 80px;
    height: 80px;
	font-size: 35px;
    font-weight: bold;
    color: #421e1e;
}

.inner-board{
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

.row{
	display: flex;
    justify-content: center;
}

.board{
	padding: 1em 0;
}

.versus{
	padding: 1em 0;
	font-size: 19px;
    font-family: fantasy;
}

.xwins, .owins{
    color: #de0000;
    font-weight: 900;
    font-size: 27px;
    margin: 0 0 0 5px;
}
.reset-wrapper{
	padding: 1em 0;
}
.reset{
    display: inline-block;
    border: 1px solid black;
    vertical-align: ;
    width: 50%;
    height: 30px;
    padding: 17px 0;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    line-height: 32px;
    box-shadow: 1px 1px 1px;
    cursor: pointer;
}

.reset:active{
	box-shadow: none;
}